= render partial: 'frequency_slider'
= render partial: 'probability_slider'
= render partial: 'duty_cycle_slider'
= render partial: 'torch_count_slider'

:javascript
  new Initializer("Stu").initialize();
