.row
  .col-md-3
    %h3< Night Vision Simulator
    = render partial: 'inputs'
    = render partial: 'torch_count_slider'
  .col-md-9
    = render partial: 'canvas'

:javascript
  new Initializer().initialize();
